*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.0em;
}

:root{
    --card-width: 220px;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-width: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 1em;
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid gray;
}

.logo-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-right: 4em;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > li{
    padding: 0.6em;
}

ul > li > a{
    color: #fff;
    text-decoration: none;
}

ul > li > a:hover{
    text-decoration: underline;
}

.header-social{
    display: flex;
    margin: 0 1em 0 0;
}

.header-social a {
    color: gray;
    font-size: 1.2em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.header-social a:hover {
    color: white;
}

.social-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn{
    background-color: #333;
    color: green;
    padding: 0.6em 1.4em;
    margin-right: 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid green;
    list-style: none;
    text-decoration: none;
}

.login-btn:hover{
    background-color: green;
    color: gray;
}

#main{
    background-color: #f0f0f0;
    position: relative;
    margin-top: 15vh;
    width: 100%;
}

.arena{
    color: green;
    transition: text-shadow 0.3s ease;
}

.arena:hover{
    text-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green;
}

.register-button{
    background-color: green;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid green;
    list-style: none;
    text-decoration: none;
}

.register-button:hover{
    border: 2px solid green;
    box-shadow: 0 0 10px 2px green;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid gray;
}

.footer-content-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-container{
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: none;
    padding: 0 2em;
    margin: 1em 0;
}

.information{
    display: flex;
    flex-direction: column;
}

.information > ul{
    display: flex;
    flex-direction: column;
}

.information > ul > li{
    padding: 0;
}

.information > ul > li > a{
    color: gray;
}

.information > ul > li > a:hover{
    text-decoration: underline;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact > ul{
    display: flex;
    flex-direction: column;
}

.contact > ul > li{
    padding: 0;
}

.contact > ul > li > a{
    color: gray;
}

.contact > ul > li > a:hover{
    text-decoration: underline;
}

.links-of-interest{
    display: flex;
    flex-direction: column;
}

.links-of-interest > ul{
    display: flex;
    flex-direction: column;
}

.links-of-interest > ul > li{
    padding: 0;
}

.links-of-interest > ul > li > a{
    color: gray;
}

.links-of-interest > ul > li > a:hover{
    text-decoration: underline;
}

.footer-container{
    /* padding: 0 4em; */
    font-size: 0.8em;
}

.copyright{
    font-size: 0.8em;
    padding: 1em;
    color: gray;
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a {
    color: gray;
    font-size: 1.2em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: white;
}


/*main*/
.hero {
    background-color: black;
    color: #960a0e;
    text-align: center;
    padding: 5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-image: url('pexels-elti-meshau-107925-333850.jpg');
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.hero-title {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #960a0e;
}

.hero-text {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: white;
}

.button {
    background-color: #960a0e;
    color: black;
    padding: 0.8em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    color: gray;
    box-shadow: 0 0 10px 2px #960a0e;
}

/*featured*/
.featured-games {
    background-color: black;
    padding: 2em 1em;
    color: #960a0e;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 2em;
    margin-bottom: 1em;
    color: #960a0e;
}

.games-carousel-wrapper {
    position: relative;
    min-width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    position: relative;
}

.games-carousel {
    display: flex;
    justify-content: flex-start;
    scroll-behavior: smooth;
    gap: 1em;
    padding: 1em 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    max-width: calc((card-width * 3) + (2 * gap));
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.games-carousel::-webkit-scrollbar {
    display: none;
}

.games-carousel .game-card {
    flex: 0 0 calc((100% - (2 * 1em)) / 3);
    box-sizing: border-box;
}

.games-carousel > a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.game-card {
    background-color: #333;
    color: white;
    padding: 2em;
    min-width: 80px;
    max-width: 80px;
    box-sizing: border-box;
    height: 200px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    flex: 0 0 auto;
    scroll-snap-align: start;
    flex: 0 0 var(--card-width);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1em;
    font-weight: bold;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1em;
}

#next-btn, #prev-btn {
    background-color: rgba(121, 5, 5, 0.7);
    color: black;
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 3em;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 900;
}

#next-btn:hover, #prev-btn:hover {
    color: white;
    background-color: rgba(121, 5, 5, 1.0);
    box-shadow: 0 0 10px 2px #960a0e;
}

.card-text{
    opacity: 0;
}

.card-text:hover{
    opacity: 1;
}

.flicker-dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

.dot.active {
    background-color: #960a0e;
}

.pubg{
    background-image: url('wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-position: top;
}

.efootball{
    background-image: url('wp13111909-efootball-2024-wallpapers.png');
    background-size: cover;
    background-position: center;
}

.game-card:hover {
    border: 2px solid #960a0e;
    box-shadow: 0 0 20px #960a0e;
    transform: translateY(-5px);
}

.efootball:hover{
    border: 2px solid yellow;
    box-shadow: 0 0 20px yellow;
    transform: translateY(-5px);
}

.fortnite{
    background-image: url('fortnite-1920x1080-hd-ldycemyqolid6ppy.jpg');
    background-size: cover;
    background-position: center;
}

.fortnite:hover{
    border: 2px solid skyblue;
    box-shadow: 0 0 20px skyblue;
    transform: translateY(-5px);
}

.cod{
    background-image: url('6259-3840x2160-desktop-4k-call-of-duty-wallpaper.jpg');
    background-size: cover;
    background-position: top;
}

.cod:hover{
    border: 2px solid green;
    box-shadow: 0 0 20px green;
    transform: translateY(-5px);
}

.menu-toggle{
    display: none;
}

.mobile-menu{
    display: none;
    color: black;
}

.mobile-menu.open{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.mobile-menu.open  > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobile-menu.open > ul > li{
    padding: 1em 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
}

.mobile-menu.open > ul > li:hover{
    background-color: rgba(89, 0, 0, 1);
}

/* Small devices (phones, 600px and below) */
@media only screen and (max-width: 600px) {
    :root{
        --card-width: 100px;
    }

    #big-screen-menu{
        display: none;
    }

    .social-login{
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-right: 2em;
        border: 2px solid green;
        border-radius: 20px;
        padding: 0.5em;
        cursor: pointer;
    }

    .hero-title {
        font-size: 2em;
    }

    .hero-text {
        font-size: 1em;
    }

    .button {
        padding: 0.6em 1.5em;
        font-size: 1em;
    }

    .games-carousel {
        scroll-behavior: smooth;
        gap: 1em;
    }

    .game-card {
        flex: 0 0 var(--card-width);
        max-width: var(--card-width);
        min-width: var(--card-width);
        height: 200px;
        font-size: 1em;
        padding: 1.5em;
    }

    #next-btn, #prev-btn {
        display: none;
    }
}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    :root{
        --card-width: 150px;
    }

    #big-screen-menu{
        display: none;
    }

    .social-login{
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-right: 2em;
        border: 2px solid green;
        border-radius: 20px;
        padding: 0.5em;
        cursor: pointer;
    }


    .hero-title {
        font-size: 2.5em;
    }

    .hero-text {
        font-size: 1.2em;
    }

    .button {
        padding: 0.7em 1.8em;
        font-size: 1.1em;
    }

    .games-carousel {
        flex-direction: row;
        padding: 1em 0;
    }

    .game-card {
        flex: 0 0 var(--card-width);
        max-width: var(--card-width);
        min-width: var(--card-width);
        height: 200px;
        font-size: 1em;
    }
}

/* Large devices (desktops, 768px and up) */
@media only screen and (min-width: 1400px) {
    :root{
        --card-width: 220px;
    }

    .hero-title {
        font-size: 3em;
    }

    .hero-text {
        font-size: 1.5em;
    }

    .button {
        padding: 0.8em 2em;
        font-size: 1.2em;
    }

    .games-carousel {
        flex-direction: row;
        padding: 1em 0;
    }

    .game-card {
        flex: 0 0 var(--card-width);
        max-width: var(--card-width);
        min-width: var(--card-width);
        height: 300px;
        font-size: 1em;
    }
}
